<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/provider.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <h1><a href="/">Salakni</a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li class="profile-li"><a href="/user">Profile</a></li>
          <li class="providers-li"><a href="/providers">Providers</a></li>
          <li class="logout-li"><a href="/logout">Logout</a></li>
          <li><a href="#" class="btn-offer-services">Offer my services</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="search-bar" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left">
      <h2>You can search for any service that you need</h2>
      <input class="form-control" type="text" placeholder="Search for a service" aria-label="Search">
    </div>
  </section>

  <div class="container">
    <div class="providers row row-cols-2 row-cols-md-3">

    </div>
  </div>
</body>

</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let result = $.get('/api/providers')
    result.done(data => {
      if (data.success == true) {
        document.querySelector('.providers').innerHTML = ''
        let providers = data.data
        let html = ''
        providers.forEach(prov => {
          let skills = prov.skills
          let skillHtml = ''
          skills.forEach(skill => {
            skillHtml += `<li class="list-group-item">${skill}</li>`
          })
          html += `<div class="col mb-4">
            <div class="card h100" style="width: 18rem;">
              <img src="${prov.photo}"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">${prov.name}</h5>
                <p class="card-text">${prov.description}</p>
              </div>
              <ul class="list-group list-group-flush">
                ${skillHtml}
              </ul>
              <div class="card-body">
                <a href="/provider?id=${prov._id}" class="card-link text-dark">Profile</a>
                <a href="#" class="card-link text-dark">Contact</a>
              </div>
            </div>
          </div>`
        });
        document.querySelector('.providers').innerHTML = html
      } else {

      }
    })
  })
</script>